/* default.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
}



html, body {
    margin: 0;
    padding: 0;
    font-size: 10px !important;
    line-height: 1.4;
    color: #51585b;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #51585b;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

textarea {
    width: 100%;
}

button{
    border:0;
    background-color: transparent;
}
input[type=text],
input[type=password],
input[type=date],
input[type=number],
select {
    /*ios대응*/
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius : 0;
    padding:12px 16px;
    padding-right: 40px;
    border-radius: 8px;
    border:1px solid #EEE;   
    background-color: #EDF2F7;
}
input:read-only, textarea:read-only {
    background-color: #F6F6FA;
  }
input::placeholder {
    color: #98989C;
}
input:focus{
    border-color:#111111;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.08);
}
textarea{
    padding:12px 16px;
    border-radius: 4px;
    border:1px solid #DEDEE3;
}
textarea:focus{
    border-color:#111111;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.08);
}
select {
    /*ios대응*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/arrow_down.svg") no-repeat 96% 50%;
    /* width: 8px; height: 4px; */
}
select::-ms-expand {
    display: none;
}

.f-wrap{
    display: flex;
}


/*BUTTON*/
.btn {
    border:0;
    border-radius: 24px;
    background-color: #111111;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    padding:12px 16px;
  }
.btn.btn--second {
    background-color: #fff;
    border:1px solid #111111;
    color:#111111;
}
.btn.btn--cancel {
    background-color: #A7A7AC;
}
.btn.btn--disabled {
    background-color: #DEDEE3;
}
.btn.btn--second--disabled{
    border:1px solid #DEDEE3;
    color:#DEDEE3;
}
.btn.sm{
    padding:6px 32px;
}
.btn-sm{
    background-color: #111111;
    border-radius: 4px;
    color:#fff;
    padding:12px 16px;
    font-size: 14px;
    border:0;
}
.btn-sm.btnsm--second{
    background-color: #fff;
    border:1px solid #111111;
    color:#111111;
}

/* Scroll */
.scroll-area{
    overflow-y: scroll;
}
.scroll-area::-webkit-scrollbar {
    width: 12px;
}
.scroll-area::-webkit-scrollbar-thumb {
    background-color: #A7A7AC;
    border-radius: 12px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.scroll-area::-webkit-scrollbar-track {
    border-radius: 12px;
}

/* table */
table{
    border-top:1px solid #111111;
}
table thead{
    border-bottom: 1px solid #DEDEE3;
    font-size: 16px;
}
table tr th{
    padding:12px 4px;
    font-weight: 500;
    background-color: #FBFBFB;
}
table tbody tr{
    border-bottom: 1px solid #EBEBEF;
    font-size: 16px ;
    
}
table tbody tr td{
    padding:16px 4px;
}


/*modal*/
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1072; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow:hidden;  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-x: hidden;
    overflow-y: hidden;
}
.modal-ct{
    border-radius: 12px;
    background-color: #fff;
    margin: 15% auto;
}

html.scroll-hidden{
    overflow-y:hidden;
}


#pageTop {
    overflow: hidden;
    position: fixed;
    z-index: 2;
    right: 31px;
    bottom: 24px;
    width: 58px;
    height: 58px;
    border-radius: 58px;
    border: 1px solid #DEDEE3;
    text-align: center;
    line-height: 58px;
    transition: background .5s;
    background-color: #fff;
    
}
#pageTop::before{
    font-family: 'Material Icons';
    content:"\f1e0";
    font-size: 3.2rem;
    color:#98989C;
}
