
#main-header{
    background-color: #fff;
    width: 100%;
    height: 72px;
}
.container{
    padding: 0 40px;
    margin: 0 auto;
}
#chart-content{
    margin-top:80px;
}
footer{
    margin-top:4rem;
}