/* media.css */

@media only screen and (min-device-width:320px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (min-device-width:360px) {
    html {
        font-size: 70.3125%;
    }
}

@media only screen and (min-device-width:375px) {
    html {
        font-size: 73.2421%;
    }
}

@media only screen and (min-device-width:412px) {
    html {
        font-size: 80.4688%;
    }
}

@media only screen and (min-device-width:414px) {
    html {
        font-size: 80.8594%;
    }
}

@media only screen and (min-device-width:640px) {
    html {
        font-size: 125%;
    }
}

@media only screen and (min-device-width:768px) {
    html {
        font-size: 152%;
    }
}

@media only screen and (min-device-width:800px) {
    html {
        font-size: 155%;
    }
}

@media only screen and (min-device-width:960px) {
    html {
        font-size: 188%;
    }
}

@media only screen and (min-device-width:1024px) {
    html {
        font-size: 198%;
    }
}

@media only screen and (min-device-width:1199px) {
    html {
        font-size: 220%;
    }
}
@media only screen and (max-width:1440px) {
   
}
@media only screen and (max-width:1199px) {
    input {
        -webkit-border-radius: 0;
        -webkit-appearance: none;
    }
    input[type="checkbox"] {
        background-color: #fff;
        -webkit-appearance: checkbox;
    }
    input[type="radio"] {
        background-color: #fff;
        -webkit-appearance: radio;
    }
    
   
    .quick_menu{display: block;}
    
    .container {
        width: 100%;
        padding:0 16px;
    }

    /* header */
    #main-header {
        display: none;
    }
    #m-open-menu{
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: #00000080;
        overflow: hidden;
        -webkit-box-pack: center;
        justify-content: center;
    }
    #m-open-menu.show{
        display: flex;;
    }
    #m-header {
        z-index: 2;
        top: 0;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        position: fixed;
    }
    #m-header .material-icons{
        color:#739198;
        font-size:32px;
        vertical-align: middle;
    }
    #m-header ul li{
        display: inline-block;
        padding-left:16px;
    }
    #m-header ul li a .material-icons-outlined{
        vertical-align: middle;
        color:#A7A7AC;
    }
    #m-header .menu-open{
        vertical-align: middle;
    }
    #m-header .search-area{
        display: none;
        width: 100%;
        position: absolute;
        top:100%;
        left: 0;
        background-color: #fff;
        padding:12px 16px;
        border-top:1px solid #ddd;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);;
    }
    #m-header .search-area.active{
        display: block;
    }
    #m-header .search-area .inp-box{
        position: relative;
    }
    #m-header .search-area .inp-box .material-icons{
        position: absolute;
        top:8px;
        left:12px;
    }
    #m-header .search-area .inp-box input{
        width: 100%;
        padding-left: 48px;
    }
    #m-open-menu .menu-container {
        position: absolute;
        z-index: 999;
        top: 0;
        left: 30%;
        right: 0;
        bottom: 0;
        background: #fff;
        width:80%;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        box-shadow: 1px 1px 8px rgb(0 0 0 / 16%), 2px 2px 20px rgb(0 0 0 / 20%);
        transition: transform .3s linear;
        padding:12px 16px;
        
    }
    #m-open-menu .btn-area{
        display: flex;
        justify-content: flex-end;
    }
    #m-open-menu.show .menu-container {
        left:20% !important;
        transform: translateX(0%);
    }
    #m-open-menu .menu-list li{
        position: relative;
        padding:12px 0px;
    }
    #m-open-menu .menu-list li a{
        padding:0 16px;
        color:#b6b6b8;
        font-weight: 700;
        font-size: 1.8rem;
    }
    #m-open-menu .menu-list li.active a{
        color:#5ac8fa;
    }
    #m-open-menu .setting-area{
        margin-top: 4vh;
        border-top: 1px solid #eee;
        font-size: 16px;
        padding-top: 8px;
    }
    #m-open-menu .setting-area img{
        vertical-align: middle;
    }

    /* chart-content */
    #chart-content .flex-wrap .right-cont{
        display: none;
    }
    #chart-content .flex-wrap .left-cont .item-list {
        grid-template-columns: repeat(3, 1fr);
        
    }
    /*footer */
    footer .cont{
        flex-direction: column;
    }
    footer .cont .appstore-area .mobile{
        display: none;
    }
    footer .cont .appstore-area{
        text-align: center;
        flex-direction: column;
    }
    footer .cont .sns-area{
        margin-top: 16px;
        text-align: center;
        margin-bottom: 8px;
    }
    /*main*/
    #chart-content .flex-wrap .left-cont .tab{
        margin-top:0;
    }
    #detail .container{
        padding:0;
        width: calc(100% - 3.2rem);
    }
    #detail .item-info{
        width: calc(100% - 1.6rem);
        margin-top:9rem;
    }
    #detail .item-detail .detail-title{
        font-size: 2.4rem;
    }
    #detail .item-info .info__image{
        width: 40%;
    }
    #detail .item-info .info__text .issue-area p{
        font-size: 1.8rem;
    }
    #detail .item-info .info__text .text{
        padding-bottom: 1.6rem;
    }
    #detail .item-info .info__text .price li p{
        font-size: 2em;
    }
    #detail .item-info .info__text .sns-area{
        padding-bottom: 1.6rem;
    }
    #detail .item-detail .total-title p,
    #detail .item-detail .news-card .card__text .tit{
        font-size: 1.8rem;
    }
    #detail .item-info .info__image .image--text ul li{
        padding:0 .8rem;
    }
    
}

@media only screen and (max-width:768px) {
        
    #chart-content .flex-wrap .left-cont .search-area{
        flex-wrap: wrap;
    }
    #chart-content .flex-wrap .left-cont .search-area .inp-box{
        margin-bottom: 8px;
    }
    #chart-content .flex-wrap .left-cont .chips button{
        font-size: 1.4rem;
    }
    #chart-content .flex-wrap .left-cont .item-list{
        grid-template-columns: repeat(1, 1fr);
    }
    #chart-content .flex-wrap .left-cont .item-list .item{
        display: flex;
        position: relative;
    }
    #chart-content .flex-wrap .left-cont .item-list .item .item__01{
        width: 120px;
        padding-bottom: 39px;
    }
    #chart-content .flex-wrap .left-cont .item-list .item .item__02,
    #chart-content .flex-wrap .left-cont .item-list .item .item__04{
        height: 40px;
        position: absolute;
        bottom:0; width: 50%;
        background-color: rgb(243, 246, 251);
    }
    #chart-content .flex-wrap .left-cont .item-list .item__04{
        right:0;
    }
    #chart-content .flex-wrap .left-cont .item-list .item__04 .txt{
        display: none;
    }
    #chart-content .flex-wrap .left-cont .item-list .item .item__04 .divide{
        height: 20px;
    }
    #chart-content .flex-wrap .left-cont .item-list .item .item__03 .name{
        padding-bottom: 16px;
    }
    #chart-content .flex-wrap .left-cont .item-list .item .item__03 p{
        padding-bottom: 8px;
    }
    #detail .item-info{
        flex-direction: column;
    }
    #detail .item-info .info__image{
        width: 100%;
        margin:0 0 1.6rem 0;
    }
    #detail .item-info .info__image .image{
        text-align: center;
    }
    #detail .item-info .info__image .image img{
        max-width: 400px;
    }
    #detail .item-detail .news-card .card__text .link,
    #detail .item-detail .news-card .card__text .location{
        display: none;
    }
    #detail .item-detail .project-list .project .project__image img{
        width: 200px;
    }
    #detail .item-detail .project-list .project .project__image .like-area p{
        font-size: 1.6rem;
    }
    #detail .item-detail .project-list .project .project__name{
        padding: 2.4rem 1rem 1rem 1rem;
    }
    #detail .item-detail .project-list .project .project__day{
        padding: 1rem;
    }
    #detail .item-detail .comment-list .comment .comment__cont .cont{
        font-size: 1.6rem;
    }
    #detail .item-detail .comment-list .comment .comment__cont .cont__profile .profile{
        width: 48px;height: 48px;
    }
    #detail .item-detail .comment-list .comment .reply-area{
        padding:1rem;
    }
    #detail .item-detail .news-card{
        flex-direction: column;
    }
    #detail .item-detail .news-card .card__image{
        width: 100px;
    }
    #detail .item-detail .news-card .card__text{
        margin:0;
    }
    #detail .item-detail .total-title p, #detail .item-detail .news-card .card__text .tit{
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.6rem;
        padding-bottom: .8rem;
    }
    #detail .item-detail .news-card .card__text p{
        font-size: 1.4rem;
    }
    #detail .item-detail .news-card .card__text .date{
        padding:0;
    }
    #detail .item-detail .total-area1{
        flex-direction: column;
    }
    #detail .item-detail .total-area1 .total.left{
        margin:0 0 1.6rem 0;
    }
    #detail .item-detail{
        width: calc(100% - 1.6rem);
    }
}
@media only screen and (max-width:376px) {

}
